:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --text-color: #757575;
  --white-text-color: #ffffff;
  --filter-background-color: #f5f4fa;
  --card-set-gap: 30px;
  --hero-background-color: #2f303a;
  --icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
}
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    align-items: center;
  }
}

.main-nav__logo {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 24px;
  line-height: 1.17;
  color: var(--primary-text-color);
}
@media screen and (min-width: 768px) {
  .main-nav__logo {
    font-weight: 700;
    font-family: Raleway, sans-serif;
    font-size: 24px;
    line-height: 1.17;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .main-nav__logo {
    font-weight: 700;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-text-color);
  }
}

.main-nav__logo .main-nav__lable {
  color: var(--accent-color);
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: none;
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contacts__item {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contacts__item + .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-mail:hover, .contacts__icon-mail:focus {
  fill: var(--accent-color);
}

.contacts__icon-tel {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-tel:hover, .contacts__icon-tel:focus {
  fill: var(--accent-color);
}

.mobmenu-btn-open {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
}
.mobmenu-btn-open:hover, .mobmenu-btn-open:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .mobmenu-btn-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobmenu-btn-open {
    display: none;
  }
}

.mobmenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--primary-background-color);
  width: 100vw;
  height: 100vw;
  padding-top: 10px;
  padding-bottom: 48px;
}
.mobmenu .mob-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: 100%;
}

.mobmenu-btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 15px;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10px;
  right: 15px;
  transition-property: fill, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.mobmenu-btn-close:hover, .mobmenu-btn-close:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.mobmenu-nav {
  margin-left: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.mobmenu-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobmenu-nav__link {
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.mobmenu-nav__link:hover, .mobmenu-nav__link:focus {
  color: var(--accent-color);
}
.mobmenu-nav__link--current {
  color: var(--accent-color);
}

.mobmenu-contacts {
  margin-left: 40px;
  margin-bottom: 64px;
}

.mobmenu-contacts__tel {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobmenu-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.mobmenu-contacts__mail:hover, .mobmenu-contacts__mail:focus {
  color: var(--accent-color);
}

.mob-soc {
  display: flex;
  margin-left: 40px;
}

@media screen and (max-width: 479) {
  .mob-soc__item {
    display: flex;
    flex-wrap: wrap;
  }
}

.mob-soc__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-soc__link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/heromob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/heromob@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/herotab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/herotab@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/herodesktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/herodesktop@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero-title {
  max-width: 360px;
  margin: 0px auto 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--white-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero-title {
    max-width: 360px;
    margin: 0px auto 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--white-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    max-width: 696px;
    margin: 0px auto 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.hero-button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.hero-button:focus, .hero-button:hover {
  background-color: #188ce8;
}
@media screen and (min-width: 768px) {
  .hero-button {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .hero-button:focus, .hero-button:hover {
    background-color: #188ce8;
  }
}
@media screen and (min-width: 1200px) {
  .hero-button {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    min-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .hero-button:focus, .hero-button:hover {
    background-color: #188ce8;
  }
}

.specifics {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .specifics {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .specifics {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .specifics {
    padding-top: 94px;
  }
}

@media screen and (min-width: 768px) {
  .specifics-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .specifics-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.specifics-list__item {
  width: 450px;
}
@media screen and (max-width: 767px) {
  .specifics-list__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}
@media screen and (min-width: 768px) {
  .specifics-list__item {
    width: 354px;
    flex-basis: calc(50% - var(--card-set-gap));
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .specifics-list__item {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .specifics-list__item {
    width: 270px;
    flex-basis: calc(25% - var(--card-set-gap));
  }
  .specifics-list__item + .specifics-list__item {
    margin-left: var(--card-set-gap);
  }
}
.specifics-list__item::before {
  content: "";
  height: 120px;
  display: block;
  background-color: var(--filter-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.specifics__icon-antenna::before {
  background-image: url(../images/icon-antenna.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.specifics__icon-clock::before {
  background-image: url(../images/icon-clock.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.specifics__icon-diagram::before {
  background-image: url(../images/icon-diagram.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.specifics__icon-astronaut::before {
  background-image: url(../images/icon-astronaut.svg);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.specifics-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.specifics-list__text {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
}

.function {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .function {
    display: none;
  }
}

.work-list {
  display: flex;
}

.work-list__item {
  position: relative;
  overflow: hidden;
}
.work-list__item + .work-list__item {
  margin-left: var(--card-set-gap);
}

.work-list__text {
  position: absolute;
  bottom: 3px;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text-color);
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  transform: translateX(0);
  transition-property: transform;
  transition-duration: var(--duration);
  transition-timing-function: linear;
  transition-delay: 260ms;
}
.work-list__text:hover, .work-list__text:focus {
  transform: translateX(-100%);
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team-list__item {
  display: block;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 480px) {
  .team-list__item {
    width: 450px;
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (max-width: 767px) {
  .team-list__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
    flex-basis: calc(50% - var(--card-set-gap));
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list__item {
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
    flex-basis: calc(25% - var(--card-set-gap));
    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list__item + .team-list__item {
    margin-left: var(--card-set-gap);
  }
}

.data-team {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .data-team {
    padding-top: 30px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .data-team {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.data-team__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.data-team__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-color);
}

.soc-profile {
  display: flex;
  justify-content: center;
}

.soc-profile__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc-profile__item:last-child {
  margin-right: 0;
}

.soc-profile__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  color: var(--icons-color);
  transition-property: background-color, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.soc-profile__link:hover, .soc-profile__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.soc-profile__icon {
  fill: currentColor;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
@media screen and (min-width: 1200px) {
  .customers-list {
    margin: -15px;
  }
}

.customers-list__item {
  margin: 15px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .customers-list__item {
    flex-basis: calc(50% - var(--card-set-gap));
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list__item {
    flex-basis: calc(33.3333333333% - var(--card-set-gap));
    justify-content: center;
  }
}

.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  transition-property: border-color, color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.customers-list__link:hover, .customers-list__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .customers-list__link {
    width: 226px;
    height: 92px;
    color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition-property: border-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .customers-list__link:hover, .customers-list__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: var(--icons-color);
    border: 1px solid var(--icons-color);
    border-radius: 4px;
    transition-property: border-color, color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
  }
  .customers-list__link:hover, .customers-list__link:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.customers-list__icon {
  fill: currentColor;
}
.customers-list__icon:hover, .customers-list__icon:focus {
  fill: var(--accent-color);
}

.bottons-list {
  display: flex;
  flex-wrap: wrap;
  margin: -4px;
  margin-bottom: 40px;
  background-color: var(--primary-background-color);
}
@media screen and (min-width: 768px) {
  .bottons-list {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .bottons-list {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
  }
}

.bottons-list__item {
  margin: 4px;
}
@media screen and (min-width: 768px) {
  .bottons-list__item:not(:last-child) {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .bottons-list__item:not(:last-child) {
    margin-right: 8px;
  }
}

.bottons-list__filter {
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--filter-background-color);
  cursor: pointer;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.bottons-list__filter:focus, .bottons-list__filter:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.bottons-list__filter--current {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}
@media screen and (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
  }
}

.card-set__item {
  width: 450px;
}
@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: var(--card-set-gap);
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    width: 354px;
    flex-basis: calc(50% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    width: 370px;
    flex-basis: calc(33.3333333333% - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }
}

.card-set__link {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (min-width: 1200px) {
  .card-set__link {
    display: block;
  }
  .card-set__link:hover, .card-set__link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb__text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  padding: 63px 24px;
  color: var(--white-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  font-size: 18px;
  line-height: 1.5555555556;
  transform: translateY(100%);
  transition-property: transform, box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.card-set__item:hover .card-thumb__text, .card-set__item:focus .card-thumb__text {
  transform: translateY(0);
}

.data-gallery {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}
@media screen and (min-width: 768px) {
  .data-gallery {
    border: 1px solid #eeeeee;
    border-top: none;
    padding: 20px 24px 20px 24px;
    flex-grow: 1;
  }
}

.data-gallery__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.data-gallery__text {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--text-color);
}

.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer .container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
    align-items: baseline;
  }
}

.logo {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 70px;
  }
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__footer:hover {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__footer .logo__sign {
  color: var(--accent-color);
}

.logo__footer .logo__studio {
  color: var(--white-text-color);
}

.address-list {
  display: block;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 1.71;
}

.address-list__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address-list__item {
    margin-bottom: 9px;
  }
}

.address-list__link {
  color: var(--white-text-color);
  transition-property: color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--accent-color);
}

.address-list__tel-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.address-list__tel-link:hover, .address-list__tel-link:focus {
  color: var(--accent-color);
}

.address-list__mail-link {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.address-list__mail-link:hover, .address-list__mail-link:focus {
  color: var(--accent-color);
}

.soc-networks {
  display: block;
  justify-content: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .soc-networks {
    display: block;
  }
}

.soc-networks__title,
.signup-form__title {
  display: inline-block;
  margin-bottom: 20px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (min-width: 1200px) {
  .soc-list {
    display: flex;
    margin: 0 auto;
  }
}

.soc-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc-list__item:last-child {
  margin-right: 0;
}

.soc-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--white-text-color);
  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.soc-list__icon,
.signup__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .signup-form {
    margin-left: auto;
  }
}

.signup {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .signup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .signup {
    display: flex;
    align-items: baseline;
  }
}

.signup__email {
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  outline: none;
  margin-bottom: 20px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.signup__email:focus, .signup__email:hover {
  border-color: var(--accent-color);
}

.signup__btn {
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  cursor: pointer;
  transition-property: box-shadow, background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .signup__btn {
    display: flex;
  }
}
.signup__btn:focus, .signup__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}

.signup__icon {
  margin-left: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform, opacity;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  transition-property: fill, border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.modal__icon-btn {
  cursor: pointer;
}

textarea {
  resize: none;
}

input {
  margin: 0;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.client-form {
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.client-name {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}

.client-name__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.client-name__form {
  margin: 0;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color, fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-name:focus-within .client-name__form, .client-name:hover .client-name__form {
  border: 1px solid var(--accent-color);
}

.client-name__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-name:focus-within .client-name__icon, .client-name:hover .client-name__icon {
  fill: var(--accent-color);
}

.client-tel {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.client-tel__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.client-tel__form {
  margin: 0;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color, fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-tel:focus-within .client-tel__form, .client-tel:hover .client-tel__form {
  border: 1px solid var(--accent-color);
}

.client-tel__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-tel:focus-within .client-tel__icon, .client-tel:hover .client-tel__icon {
  fill: var(--accent-color);
}

.client-mail {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.client-mail__label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.client-mail__form {
  margin: 0;
  padding-left: 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color, fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-mail:focus-within .client-mail__form, .client-mail:hover .client-mail__form {
  border: 1px solid var(--accent-color);
}

.client-mail__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-mail:focus-within .client-mail__icon, .client-mail:hover .client-mail__icon {
  fill: var(--accent-color);
}

.client-msg {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.client-msg__label {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: var(--text-color);
}
@media screen and (min-width: 1200px) {
  .client-msg__label {
    font-size: 12px;
    line-height: 1.1666666667;
  }
}

.client-msg__form {
  margin: 0;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition-property: border-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-msg__form:focus, .client-msg__form:hover {
  border-color: var(--accent-color);
}
.client-msg__form::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-deal {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.form-deal__icon {
  display: inline-block;
  width: 15px;
  height: 16px;
  border: 1px solid var(--primary-text-color);
  border-radius: 2px;
  margin-right: 9px;
}
@media screen and (min-width: 1200px) {
  .form-deal__icon {
    margin-right: 9px;
    border: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.form-deal__checkbox:checked + .form-deal__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-origin: border-box;
}

.form-deal__text {
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .form-deal__text {
    margin-right: 5px;
    line-height: 1.71;
  }
}

.form-deal__link {
  color: var(--accent-color);
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .form-deal__link {
    line-height: 1.71;
  }
}

.client-form__btn {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 10px 55px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: #188ce8;
  color: var(--white-text-color);
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
}
.client-form__btn:focus, .client-form__btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* backdrop */
.is-hidden {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */