:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --text-color: #757575;
  --white-text-color: #ffffff;
  --filter-background-color: #f5f4fa;
  --card-set-gap: 30px;
  --hero-background-color: #2f303a;
  --icons-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --duration: 250ms;
}
