.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--hero-background-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/mobile/heromob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/mobile/heromob@2x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @include tablet {
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 768px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--hero-background-color);
    text-align: center;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/tablet/herotab@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/tablet/herotab@2x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  @include desktop {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    background-color: var(--hero-background-color);
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/desktop/herodesktop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/desktop/herodesktop@1x.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.hero-title {
  max-width: 360px;
  margin: 0px auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--white-text-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @include tablet {
    max-width: 360px;
    margin: 0px auto 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--white-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
  @include desktop {
    max-width: 696px;
    margin: 0px auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--white-text-color);
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero-button {
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  min-width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--duration);
  transition-timing-function: var(--timing-function);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
  @include tablet {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    min-width: 200px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }
  @include desktop {
    border-radius: 4px;
    border: none;
    padding: 10px 32px;
    min-width: 200px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    cursor: pointer;

    transition-property: background-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--timing-function);
    &:focus,
    &:hover {
      background-color: #188ce8;
    }
  }
}
