.specifics {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include desktop {
    padding-top: 94px;
  }
}
.specifics-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}
.specifics-list__item {
  width: 450px;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: var(--card-set-gap);
    }
  }

  @include tablet {
    width: 354px;
    flex-basis: calc(100% / 2 - var(--card-set-gap));
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin: 15px;
    }
  }

  @include desktop {
    width: 270px;
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    & + & {
      margin-left: var(--card-set-gap);
    }
  }

  &::before {
    content: '';
    height: 120px;

    display: block;
    background-color: var(--filter-background-color);
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

.specifics__icon-antenna::before {
  background-image: url(../images/icon-antenna.svg);
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.specifics__icon-clock::before {
  background-image: url(../images/icon-clock.svg);
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.specifics__icon-diagram::before {
  background-image: url(../images/icon-diagram.svg);
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.specifics__icon-astronaut::before {
  background-image: url(../images/icon-astronaut.svg);
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.specifics-list__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.specifics-list__text {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  color: var(--text-color);
}
